/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  /* font: 14px/1.6 Rubik,sans-serif; */
}

nav {
  height: 42px;
  line-height: 42px;
  box-shadow: 0 1px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12), 0 0px 0px 0 rgba(0,0,0,0.2);
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .brand-logo {
  font-size: 1.4rem;
  line-height: 38px;
}

nav ul li:hover {
  background-color: rgba(242,242,242,1);
}

p {
  line-height: 2rem;
}
 
.sidenav-trigger {
  color: #26a69a;
}
 
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
    padding: 0 15px;
 }
 .icon-block .material-icons {
    font-size: inherit;
 }

 .tabs {
    border-bottom: 1px solid #ebeef5;
 }

 .tabs .tab {
    text-transform: none;
}
 
footer.page-footer {
  margin: 0;
}